<!DOCTYPE html>
<html>
<head>
    <title>Map of Kyrgyzstan</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    <style>
        html, body {
            height: 100%;
            margin: 0;
            padding: 0;
        }
        #map {
            width: 100%;
            height: 100vh;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 0;
        }
    </style>
</head>
<body>
    <div id="map"></div>

    <script>
        var map = L.map('map').setView([41.530744300995025, 74.82097861514897], 7);

        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
        }).addTo(map);

        var markers = {{ markers_json|safe }};

        for (var i = 0; i < markers.length; i++) {
            var marker = markers[i];
            L.marker([marker.latitude, marker.longitude]).addTo(map)
                .bindPopup('<b>' + marker.name + '</b><br>' + marker.address)
                .openPopup();
        }
    </script>
    <script type="application/json" id="markers-data">
        {{ markers_json|safe }}
    </script>
</body>
</html>
